<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807806275605-n839d5m5raesfu9hnr9144k4ttvcn7mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807806275605-n839d5m5raesfu9hnr9144k4ttvcn7mo</string>
	<key>API_KEY</key>
	<string>AIzaSyDzm8StyTigeWhPYmGwuAbsUysJEaL9l-w</string>
	<key>GCM_SENDER_ID</key>
	<string>807806275605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.TennisBB</string>
	<key>PROJECT_ID</key>
	<string>tennisbb-17482</string>
	<key>STORAGE_BUCKET</key>
	<string>tennisbb-17482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807806275605:ios:f6ca8f62d2480bc2</string>
	<key>DATABASE_URL</key>
	<string>https://tennisbb-17482.firebaseio.com</string>
</dict>
</plist>